<ng-container *ngIf="menu">
    <p>Name: {{ menu.name }}</p>
    <p>Description: {{ menu.description }}</p>
    <md-grid-list cols="4" rowHeight="4:3">
        <md-grid-tile *ngFor="let dish of menu.dishes">
            <md-card class="example-card">
                <md-card-header>
                    <md-card-title>Name: {{ dish.name }}</md-card-title>
                </md-card-header>
                <md-card-content>
                    <p>Description: </p>
                    <p>Preparation time: {{ dish.preparation_time }}</p>
                    <p>Is vegetarian:
                        <md-checkbox [checked]="dish.is_vegetarian"></md-checkbox>
                    </p>
                </md-card-content>
            </md-card>
        </md-grid-tile>
    </md-grid-list>
</ng-container>
